html{
    font-size:10px;
}
#weather{
    box-shadow: 10px 10px 25px 2px rgb(0, 162, 216);
    display: inline-flex;
    justify-content:space-between;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    padding: 0.5rem;
    width:90%;
    margin:3rem 5%;
    border-radius:1rem;
     /* background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    */





}
h1{
    font-family: Lobster;
    color: hsla(0, 0%, 0%, 0.885);
}
img{
    width: 5rem;
}

.icon{
    display: inline-flex;
    align-items: center;
    
}
.card{
    opacity: 80%;
    width: 20rem;
    height: auto;
    min-height: 6rem;
    border-radius: 10px !important;
    background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
box-shadow: 5px 5px 15px 1px rgb(0, 162, 216);
}

body{
    background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-blue-color-gradient-background-website-banner-graphic-design_120819-977.jpg?w=900");
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 800px;
}

.homediv{
    /* width: 90%;
    margin-left: 5%; */
    height:auto;
    border-radius:1rem;
    margin-top:3rem;
    
    text-align: center;
    font-size: 34px;
    font-family: Lobster;
    background-color: rgba(255, 255, 255, 0.137);
    box-shadow: 10px 10px 25px 2px rgb(0, 162, 216);

    
    /* background-color: #1fd1f9;
    background-image: linear-gradient(45deg, #1fd1f9 0%, #b621fe 74%); */
}
.text{
    color:black;
    
    padding:3rem ;
}

.roww{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap:4%;
    margin:2rem;

}
.search{
    width:10rem;
    border: none;
    height: 2.4rem;
    color:rgb(255, 255, 255) !important;
    background:none;
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 12px;
  font-weight: 700;

}
.herodiv{
    
   align-self: center;
}

.searchbutton{
    display: flex;
}